!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css
		link( rel="stylesheet", type="text/css", media="screen", href="assets/css/style.css")

		//Other Javascript
		script( src="assets/scripts/script.js", type"text/javascript")


		//RSS TODO

	body.home
		header
			h1
				a.logo(href="./", title="Octopus Brothel Website", target="_self") Octopus Brothel

		section.content
			.album
				<iframe width="150" height="295" style="position: relative; display: block; width: 150px; height: 295px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=806669137/size=tall/bgcol=FFFFFF/linkcol=ff4633/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://octopusbrothel.bandcamp.com/album/cave-paintings">Cave Paintings by Octopus Brothel</a></iframe>

		footer
			nav
				ul
					li
						h2
							a(href="#About") About
			.social
				a.bandcamp(href="http://octopusbrothel.bandcamp.com/", title="Octopus Brothel Bandcamp Page", target="_blank") Octopus Brothel Bandcamp Page
				a.facebook(href="https://www.facebook.com/octopusbrothel", title="Octopus Brothel Facebook Page", target="_blank") Octopus Brothel Facebook Page



